<div layout="column" layout-fill>
	<md-toolbar>
		<div layout="row" layout-fill layout-align="start center" class="md-toolbar-tools">
			<div class="logo-django"><h4></h4></div>
			<div flex>
			  	<md-tabs md-stretch-tabs="never" md-selected="selectedIndex">
				    <md-tab ng-repeat="tab in tabs track by $index" 
				    		ng-disabled="tab.disabled" 
				    		md-on-select="selectedTabOnChange(tab)">
					    	<md-tab-label>
				  				<h5>{{tab.title}}</h5>
							</md-tab-label>
				    </md-tab>
			  	</md-tabs>
			</div>
			<div>
				<md-button class="md-raised md-primary md-hue-2">sign in</md-button>
				<md-button class="md-raised md-primary md-hue-2">sign up</md-button>
			</div>
		</div>
	</md-toolbar>
</div>
