<div layout="column" layout-margin layout-fill layout-padding
	ng-controller="MainSubjectsCtrl">
	<div class="container">
		<div layout="row" layout-fill layout-align="space-around center">
			<div>
				<h4>
					<i class="fa fa-lg fa-check text-primary"> </i>
					Fundamentos a partir do zero
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Bom ambiente de desenvolvimento
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Organização do projeto
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Banco de dados
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Migrações
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Views
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Templates, Templatetags, Filters
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Admin avançado
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Formulários avançados
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Processadores de contexto
				</h4>
			</div>
			<div>
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Views baseadas em classes
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Gerenciamento de usuários
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Login com redes sociais
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Sistema de cache
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Web Services
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Middlewares
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Transações com Paypal, Stripe e Pagseguro
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Testing
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Otimização e Segurança
				</h4>
				<br />
				<h4>
					<i class="fa fa-lg  fa-check text-primary"> </i>
					Implantação em Nginx, Heroku e AWS
				</h4>
			</div>
		</div>
	</div>
</div>