<main class='md-padding' layout="row">
<div flex ng-switch on="tabs[selectedIndex].name">
	<div ng-switch-when="modules">
		<div ng-include="'scripts/webapp/views/templates/modules.html'"></div>
	</div>
	<div ng-switch-when="project">
		<div ng-include="'scripts/webapp/views/templates/project.html'"></div>
	</div>
	<div ng-switch-when="technologies">
		<div ng-include="'scripts/webapp/views/templates/technologies.html'"></div>
	</div>
	<div ng-switch-when="subjects">
		<div ng-include="'scripts/webapp/views/templates/subjects.html'"></div>
	</div>
	<div ng-switch-when="recommendations">
		<div
			ng-include="'scripts/webapp/views/templates/recommendations.html'"></div>
	</div>
	<div ng-switch-when="about">
		<div ng-include="'scripts/webapp/views/templates/about.html'"></div>
	</div>
	<div ng-switch-default>
		<md-input-container label="Active Title"
			ng-bind="tabs[selectedIndex].content"> </md-input-container>
	</div>
</div>
</main>