<md-toolbar layout="row" layout-fill layout-align="center center">
<span> Django 360 </span> <!-- <div class="logo-django"><h4></h4></div> -->
<div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column">
	<md-tabs md-center-tabs md-stretch-tabs="never"
		md-selected="selectedIndex" class="md-primary"> <md-tab
		ng-repeat="tab in tabs track by $index" ng-disabled="tab.disabled"
		md-on-select="selectedTabOnChange(tab)"> <md-tab-label>
	<h5>{{tab.title}}</h5>
	</md-tab-label> </md-tab> </md-tabs>
</div>
</md-toolbar>